/** @format */

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

/* animation */
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* 사라졌다 나타나는 녀석들 */
.cont-result-loading {
  display: none;
}

.cont-result {
  display: none;
}

#modal {
  display: none;
}

.img-rotate {
  -webkit-animation: rotate 1.1s infinite linear;
  animation: rotate 1.1s infinite linear;
}

/* app */
#app {
  font-family: GmarketSansMedium;
  background-color: #5b2385;
  color: white;
  text-align: center;
  padding-bottom: 70px;
}

.tit-law {
  display: inline-block;
  position: relative;
  margin-top: 94px;
}

.tit-law .img-tit {
  z-index: 10;
}

.tit-law::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 225px;
  height: 225px;
  /* margin: -112px 0 0 -112px; */
  transform: translate(-50%, -50%);
  background-image: url("../img/title_bg.png");
  background-position: center;
}

.img-txt {
  max-width: 486px;
  margin: 125px auto 84px;
}

.txt-desc {
  position: relative;
  max-width: 475px;
  margin: 0 auto 96px;
  line-height: 30px;
  font-size: 18px;
}

.txt-desc .tit-desc {
  position: relative;
  font-size: 24px;
  font-weight: bold;
}

.txt-desc::before,
.txt-desc::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 32px;
}

.txt-desc::before {
  left: 0;
  top: 25%;
  background-image: url("../img/txt-left.png");
}

.txt-desc::after {
  right: 0;
  bottom: 25%;
  background-image: url("../img/txt-right.png");
}

/* form */
